.userLabel {
    padding-top: 5px;
    padding-left: 10px;
    width: 43%;
    color: grey;
    margin-right: 2%;
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.optionsSelect {
    border-style: solid;
    border-width: 2px;
    margin: 4px 0px 4px 10px;
    width: 105px;
    min-width: 64px;
    min-height: 28px;
    background-clip: border-box;
    padding: 0 8px;
    outline: 0;
    font-size: 11pt;
    font-weight: 400;
    line-height: 1.3636;
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(0, 0, 0, 0.27);
    color: #000000;
}

.selectContainer {
    display: inline-block;
    width: 50%;
    text-align: start;
}