.note {
    font-size: 14px;
    color: grey;
    margin-left: 20px;
    text-align: start;
    clear: both;
}

.mainContainer {
    display: block;
    height: 100%;
    padding-right: 15px;
    overflow-y: auto;
}

.wrapper {
    background-color: #ffffff;
    width: 80%;
    padding-top: 10px;
    margin-left: 5%;
    position: relative;
}

.backgroundWhite {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.buttonsWrapper {
    height: 100px;
    display: block;
    margin-left: calc(40% - 50px);
    margin-top: 35px;
    position: relative;
}

.leftBlock {
    display: inline-block;
    width: 40%;
    float:left;
}

.rightBlock {
    margin-top: 57px;
    display: inline-block;
    width: 40%;
}

