.newLibraryModal:global(.ReactModal__Content) {
  width: 530px;
}

.newLibraryModal:global(.ReactModal__Content) label {
  display: block;
  width: 100%;
  text-align: center;
}

.newLibraryModal:global(.ReactModal__Content) input {
  width: 400px;
}
.inviteUsersModal {
  width: 400px;
  height: 500px !important;
}
.inviteTable {
  height: calc(100% - 112px);
}
