.newLibraryModal:global(.ReactModal__Content) {
  width: 100%;
}

.newLibraryModal:global(.ReactModal__Content) label {
  display: block;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 10px;
  color: #404041;
  font-size: 14px;
  font-weight: 400;
}

.newLibraryModal:global(.ReactModal__Content) input {
  width: 400px;
  display: block;
  margin: 20px 0px;
  border: 0;
  background-color: #f1f1f1;
  height: 40px;
}
.inviteUsersModal {
  width: 100%;
  height: calc(100vh - 200px);
}
.inviteTable {
  height: calc(100vh - 200px);
  max-height: 300px;
  min-height: 200px;
  overflow-y: auto;
}

.buttonAdd {
  background-color: #ffffff;
  color: grey;
  position: relative;
  top: 8px;
}

.buttonEditLib {
  width: 30px;
}

.editButton {
  display: inline-block;
  color: #c1c1c1;
  border: 0;
  background-color: #ffffff;
  width: 40px;
  height:40px;
  padding: 3px;
}

.editButton:focus, .editButton:hover {
  color: #ffffff;
  background-color: #6ab01c;
}

.hiddenLabel {
  font-size: 0;
}
