.importContainer {
    width: 49%;
    font-size: 11pt;
    color: #ffffff;
    line-height: 21pt;
    text-align: center;
    display: inline-block;
    height: 28px;
    background-color: #6ab01c;
    cursor: pointer;
}
.formWrapper {
    margin: 30px 0 30px 0;
}
a.importContainer {
    text-decoration: none;
    margin: 0 0 0 10px;
    width: 48%;
    cursor: pointer;
    float: right;
}
.importLabel {
    float: left;
    width: 100%;
    height: 50px;
    color: grey;
    line-height: 25px;
}
.fileNameSpan {
    width: 30%;
    font-size: 10pt;
    color: grey;
}
.wrapLabel {
    position: relative;
}
.inputFile {
    cursor: pointer;
    display: block;
    min-height: 100%;
    min-width: 50%;
    border: 0;
    opacity: 0;
    position: absolute;
    top: -12px;
    left: 0;
    text-align: right;
    width: 150px;
}

.headerButton {
    background-color: #ffffff;
    color: grey;
    position: relative;
    top: 8px;
}