.usersHolder {
    width: calc(100% - 258px) !important;
    position: absolute;
    height: 100%;
    opacity: 1;
}

.header {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 5%;
    font-size: 66px;
    color: grey;
    display: inline-block;
    font-weight: 200;
    line-height: 1.1429;
    letter-spacing: 0px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    height: 50px;
    padding-top: 5px;
    background-color: #e0e2e2;
    text-align: center;
}