.bottonBody {
    display:inline-block;
    position:relative;
    vertical-align: middle;
}
.tooltip {
    display: none;
    font-size: 12px;
}
.button:hover + .tooltip, .button:focus + .tooltip {
    position: absolute;
    top: -20px;
    display: inline-block;
    border: 1px solid #626262;
    white-space: nowrap;
    padding: 5px;
    background-color: #ffffff;
    z-index: 300;
    transform: translateX(-65%);
}
.button {
    background-clip: padding-box;
    padding: 4px 8px;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.3636;
    color: white;
    background-color: #6ab01c;
    border: 0;
    margin-left:10px;
    cursor: pointer;
}

.button i {
  margin-right: 7px;
}

.button:disabled {
  background-color: #6ab01c;
  border-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.4);
}

.button .hideText {
    font-size:0;
}

.hidden {
    font-size: 0;
}
