.mediaForm {
    border: 1px solid #f1f1f1;
    height: calc(100vh - 245px);
    padding: 10px 30px 0 30px;
    position: relative;
}

.toolbarTitle {
    color: #404041;
    font-size: 18px;
    font-weight: 700;
}

.label {
     color: #404041;
     display: block;
     font-size: 14px;
     font-weight: 400;
     line-height: 17px;
 }

.inputName {
    width: 392px;
    height: 40px;
    background-color: #eeeeee;
    border: 0;
}

.inputFile {
    cursor: inherit;
    display: none;
    text-align: right;
    width: 100px;
}

.importContainer {
    background-color: #7ab83a;
    width: 120px;
    height: 28px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    padding: 5px 10px;
}

.descriptionArea {
    width: 392px;
    height: 70px;
    background-color: #eeeeee;
    border: 0;
    line-height: 17px;
}

.typeLabel {
    color:
    #404041;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.typeName {
    color: #7ab83a;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.currentImage {
    width: 90px;
    height: 70px;
}

.formBody {
    overflow-y: auto;
    height: 100%;
    padding-bottom: 50px;
}
