/*.error {
    border: 1px solid darkred;
    box-shadow: 0 0 10px darkred;
}
.errorMessage {
    color: darkred;
    display: block;
    font-size: 14px;
    text-align: end;
}*/

.note {
    font-size: 14px;
    color: grey;
    margin-left: 20px;
    text-align: start;
}

.mainContainer {
    display: block;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    overflow-y: auto;
}

.wrapper {
    background-color: #f6f6f6;
    width: 80%;
    padding-top: 10px;
    margin-left: 5%;
    position: relative;
}

.backgroundGreen {
    background-color: #e2eed8;
    margin-top: 10px;
}

.backgroundGrey {
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

.buttonsWrapper {
    height: 100px;
    display: block;
    margin-left: calc(40% - 50px);
    margin-top: 35px;
    position: relative;
}

.buttonStyle {
    min-height: 28px;
    border-color: rgba(0, 0, 0, 0.2);
    margin-left: 5px;
    margin-right: 5px;
    min-width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
}

