.error {
    border: 1px solid darkred;
    box-shadow: 0 0 10px darkred;
}
.show {
    display: block;
}
.hide {
    display: none;
}

.note {
    font-size: 14px;
    color: grey;
    margin-left: 20px;
    text-align: start;
}

.mainContainer {
    display: block;
    height: 100%;
    padding-right: 15px;
    padding-left: 15px;
    overflow-y: auto;
}

.wrapper {
    background-color: #f6f6f6;
    width: 80%;
    padding-top: 10px;
    margin-left: 5%;
    position: relative;
}

.backgroundGreen {
    background-color: #e2eed8;
    margin-top: 10px;
}

.backgroundGrey {
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
}

.editRow {
   padding: 5px 10px;
}

.editLabel {
    padding-top: 5px;
    width: 43%;
    text-align: right;
    color: grey;
    margin-right: 2%;
    display: inline-block;
}

.editInput {
    border: 2px solid rgba(0, 0, 0, 0.27);
    letter-spacing: 0.02em;
    margin: 4px 0px;
    width: 55%;
    max-width: 300px;
    min-width: 64px;
    min-height: 28px;
    background-clip: border-box;
    padding: 0 8px;
    outline: 0;
    font-size: 11pt;
    font-weight: 400;
    line-height: 1.3636;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000000;
    display: inline-block;
}

.disabled {
    background-color: rgba(202, 202, 202, 0.4);
    border-color: rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.4);
}

.editCheckbox {
    display: inline-block;
    width: 43%;
    vertical-align: middle;
    padding-top: 6px;
    text-align: end;
    float: left;
    margin-right: 2%;
}

@media (max-width: 1134px) {
    .editCheckbox {
        width: 100%;
        margin-right: 0;
        text-align: start;
    }
}

@media (max-width: 1134px) {
    .checkboxInput {
        width: 100%;
        text-align: start;
    }
}

.buttonsWrapper {
    height: 100px;
    display: block;
    margin-left: calc(40% - 50px);
    margin-top: 35px;
    position: relative;
}

.buttonStyle {
    width: 120px;
    border-color: rgba(0, 0, 0, 0.2);
}

