.column {
  vertical-align: top;
  display: inline-block;
  width: 45%;
  height: calc(100% - 225px);
  margin: 0 2.5%;
  background-color: #f6f6f6;
  position: relative;
}

.list {
  height: calc(100% - 50px);
  width: 100%;
}

.listItem {
    width: 100%;
    background-color: #f6f6f6;
    padding: 5px;
    height: 80px;
}

.folderIcon {
  line-height: 60px;
  font-size: 50px;
}

.name {
    float: left;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 300px;
    text-overflow: ellipsis;
}

.image {
    height: 60px;
    width: 100px;
    margin: 5px 20px 5px 5px;
    float: left;
    text-align: center;
}

.column :global(.win-itembox) {
    height: 80px;
}


.breadcrumbs {
  list-style: none;
  height: 25px;
}

.breadcrumbs li {
  display: inline;
  color: grey;
}

.breadcrumbs li a {
  text-decoration: none;
  color: inherit;
}

.breadcrumbs li a:hover {
  color: #593c56;
}

.breadcrumbs li:not(:first-child):before {
  content: '>';
  margin: 0 5px;

}

.folderNameLabel {
    margin-left: 35px;
}

.folderNameInput {
    width: 70%;
}
