.listItem {
    width: 100%;
    background-color: #ffffff;
    padding: 5px;
    height: 80px;
}
.number {
    float: left;
    width: 50px;
    color: #5d415e;
    height: 60px;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
}

.image {
    height: 60px;
    width: 100px;
    margin: 5px 20px 5px 5px;
    float: left;
}

.name {
    float: left;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 180px);
    text-overflow: ellipsis;
}
.container :global(.win-itembox) {
    height: 80px;
}

.listContainer {
    margin-left: 5%;
    display: inline-block;
    width: 43%;
    height: calc(100vh - 235px);
    background-color: #ffffff;
}
.toolbar {
    padding: 15px 5px 5px 5px;
    height: 43px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

.toolbarTitle {
    color: #000000;
    font-size: 12pt;
    font-weight: 700;
    margin-left: 7px;
    position: relative;
    top: 3px;
}

.container {
    width: 100%;
    height: calc(100vh - 300px);
}

.noDataText {
    color: #000000;
    font-size: 12pt;
    font-weight: 700;
    margin-left: 7px;
    padding-left: 7px;
    position: relative;
    top: 3px;
}

.hiddenList {
    opacity: 0 !important;
}