.modal:global(.ReactModal__Content) {
  border: none;
  border-radius: 0;
  padding: 0 0 75px 0;
  height: auto;
  width: 100%;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%);
}

.modalOverlay:global(.ReactModal__Overlay) {
  background-color: rgba(128, 128, 128, 0.5);
  z-index: 350;
}

.title {
  margin: 25px auto;
  padding: 12px 0;
  font-size: 18px;
  color: #404041;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  line-height: 1.2;
  width: 400px;

}

.children {
  width: 400px;
  margin: 0 auto;
}
