.pageHeader {
    padding: 35px 0px 15px 0;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    font-size: 35px;
    text-transform: uppercase;
    border-bottom: 1px solid #626262;
    font-weight: 200;
    color: grey;
    display: inline-block;
    line-height: 1.1429;
    letter-spacing: 0;
    width: 91%;
    position: relative;
}

.pageHeader span {
    white-space: nowrap;
    display: inline-block;
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
}
