.sidebar {
  position: fixed;
  float: left;
  display: inline;
  width: 250px;
  height: 100%;
  background-color: #f1f1f1;
}

.logo {
  padding-top: 60px;
  padding-bottom: 45px;
  width: 100%;
}

.logo img {
  display: inline-block;
  padding-left: 16px;
}

.logoText {
  display: inline-block;
  color: #505050;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-left: 10px;
  margin-right: 10px;
}

.sidebar a {
  cursor: pointer;
  text-decoration: none;
  color: #626262;
  display: block;
  width: 100%;
  box-sizing: border-box;
  line-height: 45px;
  height: 45px;
  font-size: 14px;
  font-weight: 700;
  padding-left: 16px;
}

/*.sidebar a:first-child {
  margin-top: 200px;
}*/

.sidebar :global(a.active) {
  padding-left: 16px;
  color: #6ab01c;
}

.footer {
  position: absolute;
  background-color: #f1f1f1;
  bottom: 0;
  left: 17px;
  width: 86%;
  height: 92px;
  line-height: 90px;
  color: #626262;
  border-top: solid #626262 1px;
  font-size: 14px;
  font-weight: 400;
}

h1 {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 5%;
  font-size: 66px;
  color: grey;
  display: inline-block;
  margin: 0;
}

.username {
  display: inline-block;
  line-height: 90px;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logout {
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
}

div.logout button {
  color: #6ab01c;
  background-color: #f1f1f1;
  border: 0;
}

div.logout button:hover {
  color: #626262;
}

div.logout button i {
  font-size: 16px;
}
