.sidebar {
  position: fixed;
  float: left;
  display: inline;
  width: 250px;
  height: 100%;
  background-color: #f1f1f1;
}

.logo {
  padding-top: 60px;
  padding-bottom: 45px;
  width: 100%;
}

.logo img {
  width: 200px;
  margin: auto;
  display: block;
}

.sidebar a {
  cursor: pointer;
  text-decoration: none;
  color: #626262;
  display: block;
  width: 100%;
  box-sizing: border-box;
  line-height: 45px;
  height: 45px;
  font-size: 14pt;
  padding-left: 16px;
}

.sidebar :global(a.active) {
  padding-left: 16px;
  color: #626262;
  /*border-right: dotted #6ab01c 7px;*/
  border-right-width: 11px;
  border-right-color: #626262;
  border-right-style: dotted;
}

.footer {
  position: absolute;
  background-color: #f1f1f1;
  bottom: 0;
  left: 20px;
  width: calc(100% - 40px);
  height: 92px;
  line-height: 90px;
  color: #626262;
  border-top: solid #626262 2px;
  font-size: 14pt;
}

h1 {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 5%;
  font-size: 66px;
  color: grey;
  display: inline-block;
  margin: 0;
}

.username {
  display: inline-block;
  line-height: 90px;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logout {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

div.logout button {
  color: #6ab01c;
  background-color: #f1f1f1;
  border: 0;
}

div.logout button:hover {
  color: #626262;
}

div.logout button i {
  font-size: 16px;
}
