.sidebar {
  position: fixed;
  float: left;
  display: inline;
  width: 240px;
  height: 100%;
  background-color: #226266;
  border-right: solid #eaeaea 10px;
}

.logo {
  padding-top: 60px;
  padding-bottom: 45px;
  border-bottom: solid #3f824f 1px;
  width: 100%;
}

.logo img {
  width: 200px;
  margin: auto;
  display: block;
}

.sidebar a {
  cursor: pointer;
  text-decoration: none;
  color: grey;
  display: block;
  width: 100%;
  box-sizing: border-box;
  line-height: 45px;
  height: 45px;
  font-size: 16pt;
  padding-left: 16px;
}

.sidebar :global(a.active) {
  padding-left: 16px;
  color: white;
  font-weight: bold;
  background-color: #287074;
  border-left: solid #6ab01c 4px;
}
