.button {
    border-style: solid;
    background-clip: padding-box;
    height: 40px;
    width: 300px;
    padding: 4px 8px;
    margin: 0 5px;
    border-width: 0;
    font-size: 12pt;
    font-weight: 600;
    line-height: 1.3636;
    color: white;
    text-transform: uppercase;
}

.button i {
  margin-right: 7px;
}

.button:disabled {
    background-color: rgba(202, 202, 202, 0.4);
    border-color: rgba(0, 0, 0, 0.08);
    color: rgba(0, 0, 0, 0.4);
}
