.checked {
    display: inline-block;
    border: 2px solid #cccccc;
    width: 19px;
    height: 19px;
    background-color: white;
}

.checkbox {
    /*float: left;*/
    /*padding-top: 5px;*/
    /*width: 300px;*/
    /*text-align: right;*/
    color: grey;
    /*margin-right: 20px;*/
}

.partChecked {
    display: inline-block;
    border: 2px solid #cccccc;
    width: 19px;
    height: 19px;
    background-color: white;
}
.partChecked:after {
    content: '\f00c';
    font-family: 'FontAwesome';
    font-size: 11pt;
    color: #ccc;
}
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + div:after {
    content: '\f00c';
    font-family: 'FontAwesome';
    font-size: 11pt;
    vertical-align: middle;
}

input[type=checkbox] {
    width: 21px;
    height: 21px;
    margin-right: 5px;
}

.title {
    vertical-align: middle;
    margin-left: 10px;
    color: grey;
    display: inline-block;
}

/*.container {
    display: inline-block;
    width: 48%;
    vertical-align: middle;
    padding-top: 5px;
}*/
