.wrapper {
  display: table-cell;
  vertical-align: middle;
}

.wrapperWhite {
  display: block;
  position: absolute;
  bottom: 0;
  width: 400px;
}

.pageFooter {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 50px;
  background-color: #6ab01c;
  text-align: center;
  display: table;
}

.WhitePageFooter {
  position: absolute;
  width: 400px;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 50px;
  background-color: #ffffff;
  text-align: center;
  display: table;
}
