.table tr {
    height: 50px;
}

.table td {
    padding-left: 8px
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.tableHeader .checkTd {
    min-width: 1px;
    width: 30px;
}

.tableHeader .checkTd :global(.headerCheckbox) div {
    border: 3px solid #593c56;
    width: 19px;
    height: 19px;
    background-color: white;
}

.tableBody tr:hover {
    border-left: 3px solid #583c58;
    background-color: #e2dce1 !important;
}

.tableBody tr:hover > td:first-of-type {
    padding-left: 6px;
}

.tableBody tr {
    padding-left: 3px;
}

.tableHeader td {
    min-width: 120px;
}

.tableBody > tr.tableBodyRow:nth-of-type(odd) {
    background-color: #f6f6f6;
    color: black;
}

.tableHeader {
    font-family: "FontAwesome";
    color: #583c58;
}

.table *:before, .table *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.checkTd {
    position: relative;
    display: inline-block;
    height: 25px;
}

.column-0 {
    width: 80%;
}

.table i {
    height: 23px;
}

.table i:hover {
    width: 20px;
    position: relative;
}

.table .b_table-button {
    display: none;
}

.tableBody tr:hover .b_table-button {
    width: 40px;
    display: block;
    border: 0;
    min-width: 40px;
    color: #583c58;
    height: 40px;
    background-color: inherit;
    padding: 0;
}

.table i:hover .labelRect, .table i:focus .labelRect {
    position: relative;
    top: -68px;
    -webkit-transform: translateX(-46%);
    width: 100px;
    right: -3px;
    height: 30px;
    display: inline-block;
    padding-top: 10px;
    color: white;
    background-color: #583c58;
    font-size: 10pt;
    text-align: center;
}

i .labelRect {
    display: none;
}

.labelArrow {
    width: 16px;
    background-color: white;
    height: 16px;
    box-sizing: border-box;
    border: 9px solid transparent;
    border-top-color: #583c58;
    position: relative;
    bottom: -6px;
    right: 43px;
    left: 43px
}
