.table tr {
    height: 50px;
}

.table td {
    padding-left: 8px
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table .checkTd {
    min-width: 1px;
    width: 30px;
}

.tableHeader .checkTd :global(.headerCheckbox) div {
    border: 3px solid #593c56;
    width: 19px;
    height: 19px;
    background-color: white;
}

.tableBody .checkTd div {
    width: 19px;
    height: 19px;
}

.tableBody tr {
    border-left: 3px solid rgba(0,0,0,0);
}

.tableBody tr:hover {
    border-left: 3px solid #583c58;
    background-color: #e2dce1 !important;
}

.tableBody tr:hover > td:first-of-type {
    padding-left: 6px;
}
.table td {
    min-width: 120px;
}

.tableBody > tr.tableBodyRow:nth-of-type(odd) {
    background-color: #f6f6f6;
    color: black;
}

.tableHeader {
    font-family: "FontAwesome";
    color: #583c58;
}

.table *:before, .table *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.checkTd {
    position: relative;
    display: inline-block;
    height: 25px;
}

.column-0 {
    width: 80%;
}

.table i {
    height: 23px;
    width: 20px;
    position: relative;
}

.table i:hover .labelRect, .table i:focus .labelRect {
    position: absolute;
    top: -40px;
    -webkit-transform: translateX(-50%);
    width: 100px;
    left: 7px;
    height: 30px;
    display: inline-block;
    padding-top: 10px;
    color: white;
    background-color: #583c58;
    font-size: 10pt;
    text-align: center;
}

.table i {
  position: relative;
  padding: 2px;
}

.table i .labelRect {
    display: none;
}

.labelArrow {
    width: 20px;
    height: 16px;
    box-sizing: border-box;
    border: 10px solid transparent;
    border-top-color: #583c58;
    position: relative;
    bottom: -6px;
    right: 43px;
    left: 43px
}
.wrap {
    position: relative;
}

.wrap:before, .wrap:after {
    display: table;
    content: ' ';
}

.wrap > .table {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.wrapTBody {
    margin-top: 50px;
    height: 100%;
    overflow-y: auto;
}
