.table tr {
    height: 50px;

}

.table td {
    padding-left: 15px;
    word-break: break-all;
}

.table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
    color: #424242;
    font-weight: 300;
}

.table .checkTd {
    min-width: 1px;
    width: 30px;
}

.tableHeader .checkTd :global(.headerCheckbox) div {
    width: 19px;
    height: 19px;
    background-color: #f1f1f1;
}

.tableBody .checkTd div {
    width: 19px;
    height: 19px;
}

.tableBody tr:hover {
    background-color: #e2dce1 !important;
}

.tableHeader {
    color: #6ab01c;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

.table *:before, .table *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.checkTd {
    position: relative;
    height: 25px;
}

.tableHeader i {
    height: 23px;
    width: 20px;
    position: relative;
}

.tableHeader i:hover .labelRect, .tableHeader i:focus .labelRect {
    position: absolute;
    top: -40px;
    -webkit-transform: translateX(-50%);
    width: 100px;
    left: 7px;
    height: 30px;
    display: inline-block;
    padding-top: 10px;
    color: white;
    background-color: #583c58;
    font-size: 10pt;
    text-align: center;
}

.tableHeader i {
  position: relative;
  padding: 2px;
}

.tableHeader i .labelRect {
    display: none;
}

.labelArrow {
    width: 20px;
    height: 16px;
    box-sizing: border-box;
    border: 10px solid transparent;
    border-top-color: #583c58;
    position: relative;
    bottom: -6px;
    right: 43px;
    left: 43px
}
.wrap {
    position: relative;
}

.wrap:before, .wrap:after {
    display: table;
    content: ' ';
}

.wrap > .table {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.wrapTBody {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
