.iconButton{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}

.iconButton .tooltip{
  font-size: 12px;
  position: absolute;
  bottom: 100%;
  left: 0;
  padding: 0 0 2px;
}
.iconButton .tooltipInner{
  border: 1px solid #626262;
  padding: 5px 10px;
  background: #fff;
  white-space: nowrap;
  line-height: 15px;
}
.iconButton button {
  font-family: "Segoe MDL2 Assets";
  color: #fff;
  background: #78c623;
  min-width: 45px;
  width: 45px;
  height: 45px;
  padding:5px 8px;
  border: 2px solid #d6d6d6;
  cursor: pointer;
}
.iconButton button :global .fa{
  line-height: 35px;
  position: relative;
  top: -4px;
}

.hiddenSpan {
  font-size: 0;
}