body {
  font-family: "Segoe", "Open Sans", "Ebrima", "Nirmala UI", "Gadugi", "Segoe UI Emoji", "Segoe UI Symbol", "Symbols", "Meiryo UI", "Leelawadee UI", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic", "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti", "Mongolian Baiti", "MV Boli", "Myanmar Text", "Javanese Text", "Cambria Math";
  letter-spacing: 0.02em;
}

* {
  box-sizing: border-box;
}

h1 {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 5%;
  font-size: 66px;
  font-weight: 200;
  color: grey;
  display: inline-block;
  font-weight: 200;
  line-height: 1.1429;
  letter-spacing: 0px;
  width: 100%;
}

h1 .headerButton {
  vertical-align: bottom;
}

table.table {
  margin-left: 5%;
  width: 90%;
}

input {
  margin: 4px 0;
  padding: 4px;
  font-size: 11pt;
  line-height: 20px;
  border: solid rgba(0, 0, 0, 0.27) 2px;
}

.numberCell {
  max-width: 40px;
  width: 40px;
  text-align: center;
}
