.searchBar {
    position: absolute;
    bottom: 20px;
    right: 0;
    font-size: 16px;
    text-transform: capitalize;
    z-index: 300;
}

.input {
    width: 400px;
    border-radius: 4px;
    margin: 0;
    background-color: #f1f1f1;
    border: 0;
}
.list {
    width: 400px;
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    padding: 10px 20px 10px 15px;
    background-color: #f1f1f1;
    z-index: 1000;
}

.headerList {
    width: 100%;
    color: #78c623;
    border-bottom: 1px solid #78c623;
}

.icon {
    margin: 5px;
}

.red {
    color: red;
}

.noResults {
    margin: 10px;
}

.searchBar :global(.win-container) {
    height: 70px;
}

.searchBar :global(.win-listview > .win-vertical .win-container) {
    margin: 10px 0px 0px 0px;

}

.searchBar :global(.win-listview) {
    height: auto !important;
}

.searchBar :global(.win-itembox) {
    background-color: #c0c0c0;
}

.searchBar :global(.win-listview > .win-viewport) {
    height: auto !important;
}

.searchBar :global(.win-listview .win-horizontal .win-surface.win-nocssgrid) {
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
}

.searchBar :global(.win-listview .win-groupheader) {
    padding: 0;
}

.image {
    height: 60px;
    width: 100px;
    margin: 5px 20px 5px 5px;
    float: left;
}

.notFloat {
    float: none;
    display: block;
}

.listItem {
    width: 350px;
    height: 70px;
    color: #404041;
    font-size: 16px;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
}

.userItem {
    color: #5c5c5c;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.hidden {
    width: 0;
    height: 0;
    display: inline-block;
}